.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.item img {
    width: 100%; /* Змініть розмір зображення за потребою */
    height: auto; /* Автоматична висота для збереження пропорцій */
    border-radius: 5px; /* Додайте закруглені кути */
}
