

/* Стилі для карточки товару */
.product {
    display: flex; /* Встановлення відображення карточки як блоку */
    flex-direction: column; /* Встановлення напрямку відображення елементів у стовпчик */
    justify-content: space-between; /* Вирівнювання елементів по вертикалі */
    width: 170px; /* Встановлення ширини карточки */
    border: 1px solid var(--tg-theme-button-color); /* Встановлення межі з кольором змінної --tg-theme-button-color */
    padding: 15px; /* Встановлення внутрішніх відступів */
    border-radius: 5px; /* Округлення кутів карточки */
}

/* Стилі для контейнера зображення товару */
.img {
    width: 100%; /* Заповнення всієї ширини контейнера */
    height: 150px; /* Збільшення висоти контейнера */
    margin: 0 auto; /* Вирівнювання по центру */
    background: var(--primary-color); /* Фоновий колір контейнера */
}

/* Стилі для фото товару */
.img img {
    width: auto; /* Автоматична ширина зображення */
    height: 100%; /* Заповнення всієї висоти контейнера */
    object-fit: contain; /* Зображення повністю поміщається в контейнер */
}


/* Стилі для заголовків товару */
.title {
    text-align: center; /* Вирівнювання тексту по центру */
    font-weight: bold; /* Товщина шрифту жирна */
    font-size: 1.2em; /* Збільшений розмір шрифту */
}


/* Стилі для першого слова в заголовку */
.title span:first-child {
    font-weight: bold; /* Жирний шрифт */
    font-size: 1.2em; /* Більший розмір шрифту */
}



/* Стилі для опису товару */
.description {
    font-size: 0.7em; /* Зменшення розміру шрифту */
    margin-bottom: 10px; /* Відступ між заголовком і ціною */
}


/* Стилі для кнопки "Додати в корзину" */
.add-btn {
    width: 100%; /* Заповнення всієї ширини */
    border-radius: 5px; /* Округлення кутів кнопки */
    background-color: rgba(82, 136, 193, 0.2); /* Прозорий фон з кольором rgba(82, 136, 193, 255) */
    border: 1px solid var(--tg-theme-button-color); /* Обводка з таким самим кольором і товщиною, як у карточок */
    color: white; /* Колір тексту білий */
    font-weight: bold; /* Товщина шрифту жирна */
}
.added {
    background-color: green;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px; /* Відступ між карточками товарів */
}

.product .description {
    margin-bottom: 10px; /* Відступ між заголовком і ціною */
    text-align: center;
}

.price {
    text-align: center; /* Вирівнювання тексту по центру */
}